*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 243, 243);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3EBFFF;
    height: 500px;
    
}

.home img{
    padding: 10px;;
    width: 50px;
}

.menu{
    color: black;
    text-align: right;
    background-color: #3EBFFF;
    padding: 15px;

}

.menu a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logan{
    color: aliceblue;
    text-align: left;
    font-weight: bolder;
    width: 90px;
}


.branco{
    background-color: aliceblue;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
    padding: 19px;
    text-align: left;
}

.branco span{
    font-family:'Times New Roman', Times, serif
}

.yellow{
    background-color:#FFD302;
    width: 50%;
    height: 300px;
    
    
}

.verde{
    background-color: #A0DDCE;
    width: 50%;
    height: 300px;
}

.azul{
    background-color: #54C2F7;
    width: 50%;
    height: 300px;
    text-align: center;
}

.azul span{
    text-align: left;
    color: #248570;
}

.white{
    background-color: #FFFFFF;
    width: 100%;
    height: 400px;
    display: flex;
}

.azul2{
    background-color: #3EBFFF;
    width: 50%;
    height: 400px;
}

.amarelo{
    background-color: #FFD302;
    width: 50%;
    height: 400px;
}

.azul3{
    background-color: #54C2F7;
    width: 50%;
    height: 400px;
}

.pink{
    background-color: #FE817E;
    width: 50%;
    height: 400px;
}

.green{
     background-color:#90D4C5;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.etapa1{
    display: flex;
}

.Sunnyside h1{
    text-align: center;
    color:#3e7468;
    font-weight: bolder;
}

h1{
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform:uppercase;
}

.links a{
    color: #3e7468;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
}













