*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 243, 243);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3EBFFF;
    height: 500px;
    
}

.home img{
    padding: 20px;;
    width: 80px;
}

.menu{
    color: black;
    text-align: right;
    background-color: #3EBFFF;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 1100px;

}

.menu a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.menu h2{
    padding-left: 30px;
}

.logan{
    color: aliceblue;
    text-align: left;
    font-weight: bolder;
    width: 90px;
}


.branco{
    background-color: aliceblue;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
    padding: 19px;
    text-align: left;
}

.branco span{
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    word-wrap: normal;
    
      

}

.yellow{
    background-color:#FFD302;
    width: 50%;
    height: 300px;
    
    
}

.verde{
    background-color: #A0DDCE;
    width: 50%;
    height: 300px;
}

.azul{
    background-color: #54C2F7;
    width: 50%;
    height: 300px;
    text-align: center;
    padding: 20px;
}

.azul h2{
    color: #248570;
    

}

.azul span{
    text-align: left;
    color: #248570;
    
        word-wrap: normal;
      
         
    
      
}

.white{
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imagens{
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}
.img h4{
    color: rgb(146, 155, 155);
    text-align: center; 
}

.img span{
    white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */
    overflow: hidden; /* esconde o texto que ultrapassa o espaço disponível */
    text-overflow: ellipsis; /* adiciona reticências no final do texto cortado */
}
.img1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
}
.img1 img{
    width: 200px;
}
  
.azul2{
    background-color: #3EBFFF;
    width: 50%;
    height: 400px;
}

.amarelo{
    background-color: #FFD302;
    width: 50%;
    height: 400px;
}

.azul3{
    background-color: #54C2F7;
    width: 50%;
    height: 400px;
}

.pink{
    background-color: #FE817E;
    width: 50%;
    height: 400px;
}

.green{
     background-color:#90D4C5;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.etapa1{
    display: flex;
}

.Sunnyside h1{
    text-align: center;
    color:#3e7468;
    font-weight: bolder;
}

h1{
    color:aliceblue;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase;
    font-size: 45px;
    font-weight: bolder;
}

.links a{
    color: #3e7468;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
}












